/* https://stackoverflow.com/questions/10898399/using-variables-in-qt-stylesheets */

/* ALL */
*
{
    font: @font-default;
}

/* Panel */
MyPanel
{
    background:                 @color-black-medium;
}

#MAIN_PANEL
{
    padding:                    12px 12px 12px 12px;
}

/* Panel with title (GroupBox) */
MyPanelLabeled
{
    background:                 @color-black-medium;
    border:                     @border-medium @color-black-light;
    color:                      @color-white-light;

    font:                       @font-panel-title;
    margin:                     @offset-margin 0px 0px 0px;
    padding:                    @offset-padding 8px 8px 8px;
}

#PANEL_OPTIONS,
#PANEL_CONVERSION
{
    font:                       @font-panel-title-large;
    margin:                     @offset-margin-large 0px 0px 0px;
    padding:                    @offset-padding-large 12px 12px 12px;


}

#PANEL_OPTIONS
{
    padding:                    @offset-padding-options 8px 8px 8px;
}


MyPanelLabeled:title
{
    subcontrol-origin:          border;
    subcontrol-position:        top left;

    left:                       18px;
    top:                        -@offset-margin;

    padding:                    0px 8px;
}

#PANEL_OPTIONS:title,
#PANEL_CONVERSION:title
{
    left:                       18px;
    top:                        -@offset-margin-large;

    padding:                    0px 8px;

}

/* Button */
QPushButton
{
    font:                       @font-button;

    background:                 @color-black-light;
    border:                     none;
    color:                      @color-white-light;
}

QPushButton:hover
{
    background:                 @color-blue-light;
    color:                      @color-white-light;
}

QPushButton:pressed
{
    background:                 @color-yellow-light;
    color:                      @color-white-light;
}

/* CheckBox */
MyCheckBox
{
    color:                      @color-white-light;
}

MyCheckBox[currentState="true"] MyLabel
{
    border:                     @border-medium @color-blue-light;
    background:                 @color-blue-dark;
}

MyCheckBox[currentState="true"] MyIcon
{
    border-color:               @color-blue-light;
    background:                 @color-blue-dark;

}

MyCheckBox[currentState="false"] MyLabel
{
    border:                     @border-medium @color-black-light;
    background:                 @color-black-dark;
}

MyCheckBox[currentState="false"] MyIcon
{
    border-color:               @color-black-light;
    background:                 @color-black-dark;
}

MyCheckBox MyIcon
{
    background:                 @color-black-light;
    border:                     @border-medium @color-gray-dark;
    border-radius:              4px;
}

MyCheckBox MyLabel
{
    background:                 @color-black-light;
    color:                      @color-white-light;
    padding:                    0px 8px;
    font:                       @font-option;
    border:                     @border-medium @color-gray-dark;
    border-radius:              4px;
}

/* Label */
MyLabel
{
    color:                      @color-white-light;
    font:                       @font-header;
}

MyFormatSelector MyLabel
{
    background:                 @color-black-light;
    padding:                    6px 4px;
    font:                       @font-format-label;
}


#BUTTON_CONVERT
{
    margin:                     @offset-margin 0px 0px 0px;
    padding:                    0px 24px;
    font:                       @font-convert;
}

/* MyPathSelector */
MyPathSelector MyPushButton
{
    min-height:                 32px;
    min-width:                  80px;

    font:                       @font-button;
    padding:                    2px 8px;
}

MyPathSelector QLineEdit
{
    font:                       @font-edit;
    padding:                    0px 4px;
}

MyStatusLabel
{
    font:                       @font-status;
}

QComboBox
{
    color:                      @color-white-light;
    background:                 @color-black-light;
    border:                     none;
    padding:                    0px 8px;
}

QComboBox:hover
{
    color:                      @color-white-light;
    background:                 @color-blue-light;

}

QComboBox::drop-down
{
   border:                      none;

   width:                       24px;
   padding:                     0px 8px;
   color:                       @color-white-light;
}

QComboBox::down-arrow
{
    image:                      url(./images/other/circle.svg);

    width:                      24px;
    height:                     24px;

    color:                      @color-white-light;
}

QComboBox QListView
{
    color:                      @color-white-light;
    background:                 @color-blue-light;

    selection-color:            @color-white-light;
    selection-background-color: @color-black-light;
    outline: none;

    border-top:                 @border-wide @color-white-light;
    border-bottom:              @border-wide @color-white-light;
}
