/* https://stackoverflow.com/questions/10898399/using-variables-in-qt-stylesheets */

#MAIN_PANEL
{
    background:                 @color-black-medium;
    padding:                    12px 6px 6px 6px;
}

#PANEL_OPTIONS,
#PANEL_CONVERSION
{
    padding:                    20px 16px 16px 16px;

}


MyPanel
{
    background:                 @color-black-medium;
    border-top:                 none;
    padding:                    4px 4px;
}

MyPanelLabeled
{
    background:                 @color-black-medium;
    border:                     @border-narrow @color-black-light;
    color:                      @color-white-light;

    font:                       @font-header;

    margin-top:                 12px;
    padding:                    12px 6px 6px 6px;
}

MyPanelLabeled:title
{
    subcontrol-origin:          border;
    subcontrol-position:        top left;

    left:                       18px;
    top:                        -12px;


    padding:                    0px 8px;
}

QPushButton
{
    min-width:                  128px;
    min-height:                 32px;

    font:                       @font-button;

    background:                 @color-black-light;
    border:                     none;
    color:                      @color-white-light;
}

QPushButton:hover
{
    background:                 @color-blue-light;
    color:                      @color-white-light;
}

QPushButton:pressed
{
    background:                 @color-white-light;
    color:                      @color-blue-light;
}



MyCheckBox
{
    color:                      @color-white-light;


    bo1rder: 1px dashed white;
}



MyCheckBox[currentState="true"] MyLabel
{
    border: 2px solid @color-blue-medium;
}

MyCheckBox[currentState="false"] MyLabel
{
    border: 2px solid @color-red-medium;
}

MyCheckBox[currentState="true"] MyIcon
{
    border: 2px solid @color-blue-medium;
}

MyCheckBox[currentState="false"] MyIcon
{
    border: 2px solid @color-red-medium;
}



MyCheckBox MyIcon
{
    background:                 @color-black-light;
    border :2px solid @color-gray-dark;
    border-radius: 4px;
}

MyCheckBox MyLabel
{
    background:                 @color-black-light;
    color:                      @color-white-light;
    padding:                    0px 4px;
    font:                       @font-button;
    border:                     2px solid @color-gray-dark;
    border-radius:              4px;

}


MyLabel
{
    border :1px dashed @color-red-dark;
    color:                      @color-white-light;
    font:                       @font-header;
}